/* Button Component */
.btn {
    padding: 0.7rem 1.2rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    font-weight: 400;
    cursor: pointer;
}

.btn-primary {
    color: #fff;
    background: var(--primary-color-light);
    transition: all 0.3s ease;
}

.btn-primary:hover {
    background: var(--primary-color-dark);
}

.outline-btn {
    color: var(--primary-color-light);
    background: transparent;
    border: 1px solid var(--primary-color-light);
    transition: all 0.3s ease;
}

.outline-btn:hover {
    background: var(--primary-color-light);
    color: #fff;
}

.disabled-btn {
    opacity: 0.5;
    cursor: not-allowed;
}

/* Card Component */
.card {
    padding: 2rem;
    background: #fff;
    border: 1px solid #d1d5db;
    border-radius: 8px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

/* Title of section component */
.title {
    text-align: center;
    margin: 1rem auto;
}

.title i {
    font-size: 4rem;
    margin-bottom: 0.5rem;
    color: var(--primary-color-light);
}

.title h1 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 0.5;
    margin-bottom: 1rem;
    color: var(--primary-color-light);
    font-family: "IBM Plex Sans", sans-serif;
}

.title p {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 1rem;
}

/* Badges Components */
.badge {
    display: inline-flex;
    align-items: center;
    padding: 0.2rem 0.75rem;
    font-size: 0.75rem;
    font-weight: 500;
    border-radius: 8px;
}

.badge-success {
    background-color: #d1fae5;
    color: #065f46;
}

.badge-danger {
    background-color: #fed7d7;
    color: #7f1d1d;
}

/* Alerts Component */
.alert {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 8px;
}

.alert-absolute {
    position: absolute;
    top: 5rem;
    right: 1rem;
    width: 300px;
}

.alert .message {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.alert-success {
    color: #166534;
    background-color: #bbf7d0;
}

.alert-error {
    color: #ef4444;
    background-color: #fecaca;
}

.alert .close-btn {
    font-size: 1.2rem;
    line-height: 1;
    cursor: pointer;
}

/* Modal Component */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fff;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    animation: fadeIn 0.3s ease-in-out;
}

.modal-title {
    border-bottom: 2px solid var(--bg-light);
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.modal-body {
    margin-bottom: 1rem;
}

.modal-footer {
    display: flex;
    align-items: center;
    gap: 1rem;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.modal .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modal .close:hover,
.modal .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-content h2 {
    margin-top: 0;
    color: #333;
}

.modal-content p {
    color: #666;
}

.modal-content .btn {
    padding: 0.5rem 0.8rem;
}

/* Dropdown Component */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-toggle {
    cursor: pointer;
    border-radius: 50%;
}

.dropdown-toggle .profile-thumbnail {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.dropdown-toggle .profile-thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    overflow: hidden;
    z-index: 1;
    left: 0;
    top: 140%;
    transform: translateX(-80%);
}

.dropdown-menu.show {
    display: block;
}

.dropdown-menu li {
    list-style: none;
}

.dropdown-menu .dropdown-item {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-menu .dropdown-item:hover,
.dropdown-menu .dropdown-item.active {
    background-color: #f1f1f1;
}

.dropdown-menu li:last-child .dropdown-item {
    color: red;
}

/* Form Component */
.form-group {
    margin-bottom: 1rem;
}

.form-group label {
    display: block;
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 0.5rem;
    color: var(--primary-color-light);
    font-family: "IBM Plex Sans", sans-serif;
}

.form-control {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    line-height: 1.5;
    border: 1px solid #d1d5db;
    border-radius: 0.5rem;
    resize: none;
}

.form-control:focus {
    border-color: var(--primary-color-light);
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(122, 138, 187, 0.25);
}

.form-row {
    display: flex;
    gap: 1rem;
}
